@charset "UHF-8";

body {
	font-family: 'Lato', serif;
}

.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.inner_content {
	max-width: 1100px;
	margin: 0 auto;
}

.header {
	background-color: #fff;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	z-index: 1000;
}

.header_left {
	float: left;
}

.header_right {
	float: right;
	display: inline-flex;
}

.header_bolt_icon {
	font-size: 80px;
	color: #535b5d;
}

.main {
	background-color: #f2f2f2;
	padding-top: 73px;
}

.header_icon {
	color: #535b5d;
	font-size: 43px
}

.header_btn {
	font-size: 12px;
	padding: 14px 12px;
	background-color: #74cfae;
	color: #fff;
	border:0;
	text-decoration: none;
	transition: .3s;
}

.header_btn:hover {
	color: #333;
}

.main_title_contents {
	text-align: center;
	padding: 250px 0;
}

.bolt_title {
	color: #74cfae;
	font-size: 90px;
	font-weight: 700;
	text-align: center;
}

.bolt_subTitle {
	color: #c0c0c0;
	font-size: 30px;
	margin-top: 20px;
	font-family: 'Raleway', serif;
}

.about_bg {
	background-color: #74cfae;
	text-align: center;
	padding-top: 50px;
}

.about_image_box {
	float: left;
	font-size: 0;
	width: 400px;
}

.about_text_box {
	color: #fff;
	float:right;
	margin-top: 20px;
	width: 680px;
}

.about_text_fs24 {
	font-size: 24px;
	font-family: 'Raleway', serif;
}

.about_text_fs20 {
	font-size: 20px;
	line-height: 30px;
	margin-top: 30px;
}

.image_content_box {
	padding: 90px 0 70px 0;
}

.imageTitle_fs24 {
	font-size: 24px;
	text-align: center;
	margin: 0 auto 40px auto;
	font-family: 'Raleway', serif;
}

.image_box {
	font-size: 0;
}

.image_content{
	float: left;
	opacity: 0.7;
	transition: .3s;
	margin: 80px 100px 0 0;
}

.image_content:nth-child(3n){
	margin-right: 0;
}

.image_content:nth-child(-n+3){
	margin-top: 0;
}

.image_content:hover {
	opacity: 1;
}

.image_bottom_field {
	margin-top: 90px;
}

.image_bottom_content {
	margin-top: 90px;
}

.bottom_content {
	width: 67%;
	margin: 0 auto;
	text-align: center;
}

.image_text_box {
	float: left;
	width: 500px;
	margin-right: 90px;
}

.image_text {
	font-family: 'Raleway', serif;
	line-height: 24px;
	text-align: center;
}

.email_btn_box {
	float: left;
}

.email_me_btn {
	background-color: #74cfae;
	color: #fff;
	border:0;
	font-size: 12px;
	padding: 14px 20px;
	transition: .3s;
	text-decoration: none;
	display: inline-flex;
}

.email_me_btn:hover {
	color: #333;
}

.our-skills_bg {
	background-color: #4e4e4e;
	text-align: center;
	padding: 70px 0 100px 0;
}

.our-skills_title {
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-family: 'Raleway', serif;
	margin-bottom: 40px;
}

.our-skill_box {
	margin: 0 auto;
	font-size: 0;
}

.our-skill_images{
	margin-right: 180px;
	display: inline-block;
}

.our-skill_images:last-child {
	margin-right: 0;
}

.skill_name {
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
}

.social-icon_box {
	padding: 200px 0;
	text-align: center;
	font-size: 0;
}

.social-icon_box li {
	display: inline-block;
	transition: .3s;
}

.social-icon_box li a {
	font-size: 60px;
	padding: 10px 0;
	text-align: center;
	width: 185px;
	color: #74cfae;
	text-decoration: none;
}

.social-icon_box li:hover {
	background-color: #fff;
}

.footer {
	background-color: #74cfae;
	padding: 20px 0 25px 0 ;
}

.footer_text {
	color: #fff;
	text-align: right;
}

.nav_toggle {
		display: none;
	}



@media screen and (min-width: 768px) and (max-width: 1199px){
	.inner_content {
		width: 97%;
	}

	.about_bg {
		padding: 50px 0 25px 0;
	}

	.about_image_box {
		margin: 0 auto;
		float: none;
	}

	.about_text_box {
		margin: 0 auto;
		float: none;
		width: 910px;
		margin-top: 20px;
	}

	.about_text_fs20 {
		margin-top: 35px;
	}

	.image_content_box {
		padding: 60px 0 70px 0;
	}

	.image_box {
		width: 300px;
		margin: 0 auto;
	}

	.image_content {
		margin: 0 auto;
		float: none;
		display: block;
		text-align: center;
	}

	.image_content:nth-child(3n){
		margin-bottom: 80px;
	}

	.image_content:last-child {
		margin-bottom: 0;
	}

	.image_bottom_content {
		width: 100%;
		text-align: center;
		margin-top: 80px;
	}

	.image_text_box {
		float: none;
		margin: 0 auto;
		width: 90%;
	}

	.image_text {
		margin: 0 auto;
	}

	.email_btn_box {
		float: none;
		margin-top: 40px;
	}

	.email_me_btn {
		display: inline-flex;
	}

	.our-skill_images {
		display: block;
		float: none;
		margin: 0 auto 88px auto;
	}

	.our-skill_images:last-child {
		margin-bottom: 0;
	}

}

@media screen and (max-width: 767px) {

	.header_btn {
		display: none;
	}

	.inner_content {
		width: 97%;
	}

	.main_title_contents {
		padding: 160px 0 130px 0;
	}

	.bolt_title {
		font-size: 80px;
	}

	.about_bg {
		padding-bottom: 25px;
	}

	.about_image_box, .about_text_box {
		width: 100%;
	}

	.image_content_box {
		padding-top: 50px;
	}

	.image_content {
		margin: 0;
		width: 100%;
	}

	.image_box {
		text-align: center;
		width: 300px;
		margin: 0 auto;
	}


	.image_content:nth-child(3n) {
		margin-bottom: 80px;
	}

	.image_content:last-child {
		margin-bottom: 0;
	}

	.image_bottom_content {
		margin-top: 80px;
	}

	.bottom_content {
		width: 80%;
	}

	.image_text_box {
		width: 100%;
		margin: 0;
		float: none;
	}

	.email_btn_box {
		text-align: center;
		margin-top: 40px;
		float: none;
	}

	.our-skill_images {
		margin: 0 0 88px 0;
		display: block;
	}

	.our-skill_images:last-child {
		margin-bottom: 0;
	}

	.social-icon_box {
		padding: 50px 15px 50px 15px;
	}

	.social-icon_box li {
		display: block;
	}

	.social-icon_box li a{
		width: 100%;
	}

	.nav_toggle {
		float: right;
		display: inline-block;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
		background-color: #fff;
		outline: none;
	}

	.nav_toggle span {
		border: 1px solid #ddd;
		display: block;
		margin: 7px 0;
		width: 30px;
	}

	.nav_toggle span:nth-child(1) {
		margin-top: 0;
	}

	.nav_toggle span:nth-child(3) {
		margin-bottom: 0;
	}

}


